@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    margin: 0;
}
h2 {
    margin: 0;
}
p {
    margin: 0;
}

div.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 30px;
}
form.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
}
form.login-form input {
    margin: 5px 0;
}
form.login-form .submit {
    border: none;
    border-radius: 5px;
    background: dodgerblue;
    font-size: 1.1rem;
    color: white;
    text-align: center;
    padding: 0.2rem;
    width: 100%;
}
form.login-form .text-field {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0.2rem;
    font-size: 1.1rem;
}
div.login-container p {
    margin: 0.2rem 0;
    font-size: 0.9rem;
}


.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.w10 {
    min-width: 10%;
}
.w20 {
    min-width: 20%;
}
.w30 {
    min-width: 30%;
}
.w40 {
    min-width: 40%;
}
.w50 {
    min-width: 50%;
}
.w60 {
    min-width: 60%;
}
.w70 {
    min-width: 70%;
}
.w80 {
    min-width: 80%;
}
.w90 {
    min-width: 90%;
}
.w100 {
    min-width: 100%;
}
.w-full {
    width: 100vw;
}
.w-half {
    width: 50vw;
}

.h10 {
    min-height: 10%;
}
.h20 {
    min-height: 20%;
}
.h30 {
    min-height: 30%;
}
.h40 {
    min-height: 40%;
}
.h50 {
    height: 50%;
}
.h60 {
    min-height: 60%;
}
.h70 {
    min-height: 70%;
}
.h80 {
    min-height: 80%;
}
.h90 {
    min-height: 90%;
}
.h100 {
    min-height: 100%;
}
.h-full {
    height: 100vw;
}
.h-half {
    height: 50vw;
}