<!doctype HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>TelcoDB2 - Login</title>

    <link rel="stylesheet" href="css/style.css">
</head>

<body class="col aln-center jst-start">

    <section class="error-prompt w100" th:if="${param.error != null}">
        <p th:text="${param.error}">Error log</p>
    </section>

    <div class="centered w100 h100">
        <div class="login-container">
            <div class="content">
                <div class="col aln-center jst-center">
                    <h2>Customer</h2>
                    <h2>Login</h2>
                </div>

                <form class="login-form" action="login-customer" method="POST">
                    <input class="input-fld" type="text" name="username" placeholder="username" required>
                    <input class="input-fld" type="password" name="password" placeholder="password" required>
                    <input class="submit-btn" type="submit" value="Login">
                </form>

                <p>Not registered? <a href="customer-signup">Sign Up</a></p>
                <p><a href="employee-login">Employee portal</a></p>
            </div>
        </div>
    </div>
</body>
</html>