<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TelcoDB | Customer Home</title>

    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/fe9e631225.js" crossorigin="anonymous"></script>

    <style>
        #content-wrapper {
            min-width: 540px;
            width: 80%;
            max-width: 1080px;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <header class="navbar row aln-center jst-center w100">
        <div class="row aln-center jst-space-between w100">
            <div class="row aln-center jst-start">
                <a class="nav-link" href="customer-home">Home</a>
<!--                <a class="nav-link" href="buy-package">Buy Package</a>-->
            </div>
            <div class="row aln-center jst-start margin-right-children-1" th:if="${session.userid != null && session.username != null}">
                <div class="nav-link row aln-center" style="color: white;">
                    <div>
                        <i class="fa-solid fa-circle-user"></i>
                    </div>
                    <div>
                        <span th:text="${session.username}" class="nav-link"></span>
                    </div>
                </div>
                <a class="nav-link" href="logout-customer"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            </div>
            <div class="row aln-center jst-start" th:unless="${session.userid != null && session.username != null}">
                <a class="nav-link" href="customer-landing">Log In</a>
            </div>
        </div>
    </header>

    <section class="centered w100">
        <div class="col w100 aln-center jst-center" id="content-wrapper">
            <div class="col w100 aln-center jst-start pt-1">
                <div class="row w100 aln-center jst-end table-heading">
                    <div class="w40 row aln-center jst-start">Name</div>
                    <div class="w30 row aln-center jst-start">Validity Options</div>
                    <div class="w30 row aln-center jst-start">Included Services</div>
                </div>
                <div class="w100 vertical-scroll table-body">
                    <div class="row w100 aln-center jst-start" th:each="package : ${packages}">
                        <a th:href="'package?id=' + ${package.getIdPackage()}" class="row w100 aln-center jst-start table-link">
                            <div class="w40 row aln-center jst-start table-cell"><span th:text="${package.getName()}"> Package name </span></div>
                            <div class="w30 row aln-center jst-start table-cell"><span th:text="${service.getValidities()}"> Validity options </span></div>
                            <div class="w30 row aln-center jst-start table-cell"><span th:text="${service.getServices()}"> Included services </span></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
</html>