<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div align="right">
  <a th:href="@{/Logout}">Logout</a>
</div>
<h1>Welcome to the Gamified Marketing Application Home Page (ADMIN)</h1>
<p th:text="${'Nice to see you again ' + session.user.username}"></p>
<!-- link for create, erase, inspect questionnaire -->
<div>
  <a th:href="@{/CreateQuestionnaire}">Create Packet</a>
</div>
</br>
<div>
  <a th:href="@{/DeleteQuestionnaire}">Create Product</a>
</div>
</br>
<div>
  <a th:href="@{/InspectionQuestionnaire}">Views</a>
</div>

</body>
</html>