<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/style.css">

    <title>Employee Home</title>

  </head>

  <body>

    <!-- Navbar -->
    <header class="navbar row aln-center jst-center w100">
      <div class="row aln-center jst-space-between w100">
        <div class="row aln-center jst-start">
          <a class="nav-link" href="employee-home">Home</a>
          <a class="nav-link" href="employee-sales-report.html">Sales Report</a>
        </div>
        <a class="nav-link" href="logout">Log Out</a>
      </div>
    </header>

    <section class="error-prompt w100" th:if="${param.error != null}">
      <p th:text="${param.error}">Error prompt</p>
    </section>
    <section class="success-prompt w100" th:if="${param.success != null}">
      <p th:text="'Operation successful.'">Success prompt</p>
    </section>

    <!-- Title -->
    <section class="centered">
      <h1>Home</h1>
    </section>

    <!-- Content -->
    <section class="col aln-center jst-space-evenly w100">
      <div class="col aln-center jst-start w30" style="margin: 3rem 0;">
        <h3>Create Product</h3>
        <form action="create-product" method="POST" class="creation-form">
          <div class="col aln-center jst-start w100">
            <input type="text" name="name" placeholder="name" class="input-fld w100" required>
            <div class="row jst-center w100">
              <input type="number" step="0.01" min="0" name="fee" placeholder="fee" class="input-fld w100" required>
            </div>
            <input type="submit" value="Submit" class="submit-btn">
          </div>
        </form>
      </div>

      <div class="col aln-center jst-start w30">
        <h3>Create Package</h3>
        <form action="create-product" method="POST" class="creation-form">
          <div class="col aln-center jst-start w100">
            <input type="text" name="name" placeholder="name" class="input-fld w100">

            <div class="col aln-start jst-center w100" style="margin: 0.5rem 0">
              <p>Validity option (1)</p>
              <input type="number" step="12" min="12" max="36" name="duration-1" placeholder="duration-1" class="input-fld w100">
              <input type="number" step="0.01" min="0" name="fee-1" placeholder="fee-1" class="input-fld w100">
            </div>

            <div class="col aln-start jst-center w100" style="margin: 0.5rem 0">
              <p>Validity option (2)</p>
              <input type="number" step="12" min="12" max="36" name="duration-2" placeholder="duration-2" class="input-fld w100">
              <input type="number" step="0.01" min="0" name="fee-2" placeholder="fee-2" class="input-fld w100">
            </div>

            <div class="col aln-start jst-center w100" style="margin: 0.5rem 0">
              <p>Validity option (3)</p>
              <input type="number" step="12" min="12" max="36" name="duration-3" placeholder="duration-3" class="input-fld w100">
              <input type="number" step="0.01" min="0" name="fee-3" placeholder="fee-3" class="input-fld w100">
            </div>

            <div class="col aln-start jst-center w100" style="margin: 0.5rem 0">
              <p>Optional products</p>
              <select size="8" multiple name="opt-products" class="w100">
                <option th:each="product : ${products}" th:value="${product}" th:text="${product.getName()}"></option>
              </select>
            </div>

            <input type="submit" value="Submit" class="submit-btn">
          </div>
        </form>
      </div>
    </section>

  </body>

</html>